html {
  direction: rtl;
  background-color: #fcfcfc;
  font-family: sans-serif;
  height: 100%;
}

@import "tailwindcss";

li::before {
  content: " - ";
}

li {
  list-style: none;
}
a {
  color: blue;
}
