---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "درباره من";
---

<BaseLayout pageTitle={pageTitle} showTitle={true}>
    <p>من پارسا هستم بعضی وقتا هم پارازوک هستم.</p>
    <p>
        قبل از اینکه خودم رو معرفی کنم باید بگم:
        <b
            >لطفا مطالب این وبلاگ رو اگر جنبه ندارید نخونید. چیزای خطرناکی توش
            وجود داره که ممکنه تمام اعتقاداتت رو تغییر بده یا قشار زیادی بهت
            بیاره اگر نخوای که تغییر کنی! از من گفتن بود
        </b>
    </p>
    <p>
        اما درکل بخوام خودم رو معرفی کنم: یه آدم دیوانه هستم و شاید حتی روانی
        اما عاشق زندگی عجیب غریبمم. من محدودیتی ندارم و آزادم. چیز زیادیم نمونده
        از دنیا که خیلی طمع بدست آوردنشو داشته باشم ولی چیزای کوچیک زیادی تو
        زندگیم دارم که عاشقشونم که اغلب مردم زیادم براشون شاید جالب نباشه.
    </p>
    <p>
        با اینکه از نظر خودم خیلی باهوشم اما اعتراف میکنم هیچوقت عاقل نبودم و
        نمیخوام هم باشم چون عاقلانه زندگی کردن رو دوست ندارم و با دل کوچیک خودم
        خوشم. چیزایی که ازشون لذت میبرم همه از جنس عشقن، مثل برنامه نویسی،
        فلسفه، چوب تراشی، مدیریت، کسب و کار، بازاریابی، مارکتینگ، روانشناسی و
        ساخت چیزایی که جدیدن و شبیهش نیست.
    </p>
    <p>
        از بوی گند افکار آدمای متعصب، ریاکار یا رانت خور بدم میاد و اگر از این
        آدمایی هستید که جنبه به چالش کشیده شدن و خوردن چهارتا فحش رو ندارید همین
        الان این وبسایت رو ترک کنید اگر نمیخواید به افکارتون ریده بشه. این موضوع
        شامل تمام کسایی که به چیزای ایسم دار اعتقاد دارن مثل فمنیسم، کومونیسم،
        امپریالیسم، سوسیالیسم، کاپیتالیسم و ...و همینطور تمام مذاهب و فرقه های
        معروف و غیر معروف، مدرن یا سنتی بی خدایی، یک خدایی، دو خدایی، سه خدایی،
        چند خدایی، همه خدایی، طبیعتگرایی و.. وهمچنین تمامی شاخه های علم چه نظری
        و چه عملی و چه آزمایشگاهی و حتی اعتقادات بنیادی نظیر کمال طلبی و توسعه
        فردی و ادایی بازی و فلان و هزاتارتا بهمان دیگه هم میشه. من اینجا به همه
        میرینم. وبلاگ خودمه هرکار دوست دارم میکنم. اگر حال نمیکنی با این موضوع
        لطفا قبل اینکه از دستم ناراحت بشی اینجارو ترک کن.
    </p>
    <p>
        <b>به خودتون نگیرید اگر ریدم بهتون! من صرفا از هرنوع تعصبی نفرت دارم</b>
    </p>
    <p>
        من پیروی هیچ دین و آیین و گروه فرقه ای نیستم پس اگر ریدم بهتون معنیش این
        نیست طرفدار مخالفاتونم یا اگر هواتونو تو حرفام داشتم شک نکن یجای دیگه
        بهتون میرینم. شاید بگی خودت چه گوهی هستی که انقدر به همه میخوای برینی،
        سوال خوبیه، من هیچی نیستم پس میتونم به همه چیز برینم :) واقعا ادعایی
        ندارم و بیشتر این فحش هارو دارم به خودم میدم بیشتر وقتا چون اساسا این
        وبلاگ رو برای خودم نوشتم نه برای کس دیگه ای صرفا بدم نمیومد با اینترنت
        هم افکارم رو شریک بشم. خلاصه به خودتون زیاد نگیرید.
    </p>
    <p>
        فقط خیلی مهمه که بدونی مطالب اینجا خیلی خطرناک میتونن باشن. من خایه مالی
        هیچ اعتقاد، علم، دین و مذهبی که باهاش مشکل داشته باشم رو نمیکنم. سعی
        میکنم نوهین نکنم به این چیزا اما قول نمیدم اما حتما حتما خیلی هاشون رو
        به چالش میکشم. البته اولین نفر نیستم که همچین تفکراتی دارم و قرن هاست
        توهین به تعصب رواج داره بین دانشمندان و عارفان و فلاسفه و .. من که عددی
        نیستم همه ی چیزایی که میگم رو خودم اولین بار بهشون رسیده باشم و عملا از
        بزرگان تاریخ و آدم بزرگا یاد گرفتم اما یه چندتایی بحث و ایده جالب و نو
        هم از خودم اون وسطا خواهد بود که امیدوارم برای آدما یروزی مفید باشن.
    </p>
    <p>
        ممنون که مطالب من رو میخونید اما بازهم میگم اگر متعصبی هستید که از زندگی
        خودتون درحال لذت بردن هستید برید همین الان ازینجا تا هنوز فرصت دارید.
        برید کیفتون رو بکنید چون بعضی اسراری که برات اینجا باز میشه شاید یهو
        باعث شد خودتو یا منو بکشی. من که دوست ندارم بمیرم و فکر نکنم تو هم دوست
        داشته باشی به اون درجه برسی.
    </p>
    <p>تا یه برنامه دیگه مراقبت کنید حسابی.</p>
    <p>ارادتمند پارازوک</p>
    <style>
        p {
            padding: 1em;
        }
    </style>
</BaseLayout>
