---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "درباره من";
---

<BaseLayout pageTitle={pageTitle} showTitle={true}>
    <p>من پارسا هستم ملقب به پارازوک.</p>
    <p>
        اعتقاد به قدرت عشق دارم و از عشق به قدرت زیاد خوشم نمیاد. چیز زیاد دیگه
        ای لازم نیست در مورد من بدونی چون خیلی آدم خاصی نیستم.
    </p>
    <p>
        <b
            >اما لطفا مطالب این وبلاگ رو اگر جنبه ندارید نخونید. خطر خودکشی یا
            کشتن گوینده بالاست. درد داره وقتی دست رو اوفونت مغزیت میزاره یکی.</b
        >
    </p>
    <p>
        اما درکل بخوام خودم رو معرفی کنم: یه آدم دیوانه هستم و شاید حتی روانی.
        اینا به معنی این نیست که اعتماد به نفس ندارم یا میگم اینارو که شکسته
        نفسی کنم. بلکه برعکس. من محدودیتی ندارم و آزادم. چیز زیادی هم نمونده از
        دنیا که خیلی طمع بدست آوردنشو داشته باشم و فقط دلم میخواد درختی بکارم
        برای آیندگان.
    </p>
    <p>
        با اینکه باهوشم اما هیچوقت عاقل نبودم و نمیخوام هم باشم چون عاقلانه
        زندگی کردن رو دوست ندارم و با دل کوچیک خودم خوشم. چیزایی که ازشون لذت
        میبرم همه از جنس عشقن، مثل برنامه نویسی، فلسفه، چوب تراشی، مدیریت، کسب و
        کار، بازاریابی، مارکتینگ، روانشناسی و ساخت چیزایی که جدیدن و شبیهش نیست.
    </p>
    <p>
        از بوی گند افکار آدمای متعصب، ریاکار یا رانت خور بدم میاد و اگر از این
        آدمایی هستید که جنبه به چالش کشیده شدن و خوردن چهارتا فحش رو ندارید همین
        الان این وبسایت رو ترک کنید اگر نمیخواید به افکارتون ریده بشه. این موضوع
        شامل تمام کسایی که به چیزای ایسم دار اعتقاد دارن مثل فمنیسم، کومونیسم،
        امپریالیسم، سوسیالیسم، کاپیتالیسم و ...و همینطور تمام مذاهب و فرقه های
        معروف و غیر معروف، مدرن یا سنتی بی خدایی، یک خدایی، دو خدایی، سه خدایی،
        چند خدایی، همه خدایی، طبیعتگرایی و.. وهمچنین تمامی شاخه های علم چه نظری
        و چه عملی و چه آزمایشگاهی و حتی اعتقادات بنیادی نظیر کمال طلبی و توسعه
        فردی و ادایی بازی و فلان و هزاتارتا بهمان دیگه هم میشه. من اینجا به همه
        میرینم. وبلاگ خودمه هرکار دوست دارم میکنم. اگر حال نمیکنی با این موضوع
        لطفا قبل اینکه از دستم ناراحت بشی اینجارو ترک کن.
    </p>
    <p>
        و اینکه من پیروی هیچ دین و آیین و گروه فرقه ای نیستم پس اگر ریدم بهتون
        معنیش این نیست طرفدار مخالفاتونم یا اگر هواتونو تو حرفام داشتم شک نکن
        یجای دیگه بهتون میرینم. شاید بگی خودت چه گوهی هستی که انقدر به همه
        میخوای برینی، سوال خوبیه، من هیچی نیستم پس میتونم به همه چیز برینم :)
        واقعا ادعایی ندارم و بیشتر این فحش هارو دارم به خودم میدم بیشتر وقتا چون
        اساسا این وبلاگ رو برای خودم نوشتم نه برای کس دیگه ای صرفا بدم نمیومد با
        اینترنت هم افکارم رو شریک بشم. خلاصه به خودتون زیاد نگیرید.
    </p>
    <p>
        فقط خیلی مهمه که بدونی مطالب اینجا خیلی خطرناک میتونن باشن. من خایه مالی
        هیچ اعتقاد، علم، دین و مذهبی که باهاش مشکل داشته باشم رو نمیکنم. سعی
        میکنم نوهین نکنم به این چیزا اما قول نمیدم اما حتما حتما خیلی هاشون رو
        به چالش میکشم.
    </p>
    <p>
        ممنون که مطالب من رو میخونید اما بازهم میگم اگر از زندگی خودتون درحال
        لذت بردن هستید این خمره ی سم رو نخونید. برید کیفتون رو بکنید چون بعضی
        اسراری که برات اینجا باز میشه شاید یهو باعث شد خودتو یا منو بکشی. من که
        دوست ندارم بمیرم و فکر نکنم تو هم دوست داشته باشی به اون درجه برسی.
    </p>
    <p>تا یه برنامه دیگه مراقبت کنید حسابی.</p>
    <p>ارادتمند پارازوک</p>
</BaseLayout>
<style>
    p {
        padding: 1em;
    }
</style>
