---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";

const pageTitle = "صفحه اصلی";
const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle={pageTitle}>
    <section class="p-5 bg-lime-200 rounded-2xl m-4 text-xl shadow-md">
        <h2 class="font-bold mb-2">
            من پارازوک هستم. یه یارو تو اینترنت که چیزای جالبی میگه!
        </h2>
        <p class="font-medium">
            اینجا درمورد چیزایی که دوست دارم صحبت می کنم. بیشتر این مدت درمورد
            موضوعاتی مثل:
            <span id="top-categories">
                <a href="#">برنامه نویسی</a>,
                <a href="#">زندگی</a> و
                <a href="#">یسری چیزای دیگه </a>
            </span>
            صحبت کردم.
        </p>
    </section>
    <section class="p-4">
        <h2 class="text-lg font-bold">آخرین پست های من:</h2>

        {
            allPosts.map((post: any) => (
                <li>
                    <BlogPost
                        url={`/posts/${post.id}/`}
                        title={post.data.title}
                    />
                </li>
            ))
        }
    </section>
</BaseLayout>
