---
import Navigation from "./Navigation.astro";
import Menu from "./Menu.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
    <nav class="bg-linear-30 from-lime-300 via-lime-200 to-lime-300 shadow-md">
        <div class="flex flex-row-reverse justify-between py-2 px-4">
            <ThemeIcon />
            <Menu />
        </div>
        <Navigation />
    </nav>
</header>
